{
    "extends": "react-app",
    "rules": {
        "semi": ["error", "never"],
        "no-console": "error",
        "no-unused-vars": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-trailing-spaces": "error",
        "no-var": "error",
        "object-curly-spacing": ["error", "always"],
        "no-alert": "error",
        "react/jsx-curly-spacing": ["error", {
            "when": "never",
            "children": {
              "when": "never"
            }
        }]
    }
}
