{
    "extends": ["react-app", "plugin:react/recommended"],
    "rules": {
        "semi": ["error", "never"],
        "no-console": "error",
        "no-unused-vars": ["error", {"args": "after-used"}],
        "no-mixed-spaces-and-tabs": "error",
        "no-trailing-spaces": "error",
        "no-var": "error",
        "object-curly-spacing": ["error", "always"],
        "no-alert": "error",
        "react/jsx-curly-spacing": ["error", {
            "when": "never",
            "children": {
              "when": "never"
            }
        }],
        "react/prop-types": 0
    }
}
