$border-color: lightgrey;
$border: 1px solid $border-color;
$default-margin: 1.5em;


.menu {
    .menu-open-btn {
        position: absolute;
        margin: 1em;
        z-index: 2;
    }

    .sider {
        .menu-close-btn {
            width: 100%;
            margin: 0;
            border-right: none;
            border-left: none;
            box-shadow: none;
            border-top: none;
        }

        border-right: $border;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        .menu-content {
            margin: $default-margin;
            min-width: 15em;
        }

        .search-collapsed {
            display: block;
            margin-top: 1em;
            font-size: 1.5em;
        }

        .stats {
            margin: 1em 0;
        }

        .divider {
            border-color: $border-color;
            border-width: 1px;
        }

        // Small hack to get a vertical divider
        .col-divider {
            border: 0.7px solid lightgrey;
            transform: rotate(90deg) translateX(5px) scale(0.8);
        }
    }
}
