$border-color: lightgrey;

.menu {
    z-index: 3;

    .menu-open-btn {
        position: absolute;
        margin: 1em;
        z-index: 2;
    }

    .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
        // The stats section can sometimes intersect the
        // search bar on some browsers so we need to unset
        // ant's menu height and use the parent height
        height: unset;
    }

    .sider {
        border-right: 1px solid $border-color;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        .menu-close-btn {
            width: 100%;
            margin: 0;
            border-right: none;
            border-left: none;
            box-shadow: none;
            border-top: none;
        }

        .menu-content {
            margin: 1.5em;
            min-width: 15em;
            height: 100%;
            display: flex;
            flex-direction: column;

            .upload {
                text-align: center;
                margin-bottom: 2em;
            }
        }

        .menu-footer {
            cursor: pointer;
            padding-bottom: 1em;
            display: flex;
            justify-content: space-between;

            small {
                font-size: 0.85em;
            }

            a {
                color: #1d51a0;
            }
        }

        .search-collapsed {
            display: block;
            margin-top: 1em;
            font-size: 1.5em;
        }

        .stats {
            margin: 2em 0 1.5em 0;

            .stat-remaining {
                padding-left: 1em;
            }
        }

        .divider {
            border-color: $border-color;
            border-width: 1px;
            margin: 0 0 1.5em 0;
        }
    }
}
