$link-color: #1d51a0;

.package-info-status {
    margin: 1em 0 2em 0;
}

.package-info {
    .stats-progress {
        margin-top: 1em;
    }

    .stats-divider {
        height: 100%;
        color: lightgrey;
        width: 1px; // stylelint-disable-line
    }

    label {
        color: #000000ab;
        font-size: 1.1em;
    }

    .dependencies,
    .package-description {
        margin-top: 0.8em;
    }

    .package-name {
        margin-top: 0.8em;
    }

    .links-container {
        margin-top: 0.8em;

        .package-link {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0.5em 0;
            color: $link-color;
        }
    }

    .package-info-block {
        margin-bottom: 2em;

        .dependencies-collapse {
            background-color: white;
        }

        .dependencies-collapse-panel {
            border: none;
            padding: 0;

            .ant-collapse-header {
                padding: 0.75em 2.5em 1em 0;
                color: rgba(0, 0, 0, 0.65);
            }

            .ant-collapse-content-box {
                padding: 0;
            }
        }

        .dependency-info {
            display: flex;
            width: 100%;
            margin-bottom: 0.5em;
            justify-content: space-between;
            cursor: pointer;

            .dependency-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 12em;

                &:hover {
                    color: $link-color;
                }
            }
        }

        .stats-score {
            display: flex;
            flex-direction: column;
        }

        .github-stats {
            margin-top: 1em;
        }

        .ant-statistic-content-value-int {
            font-size: 0.85em;
        }
    }
}
