.auto-complete {
    .ant-select-dropdown {
        padding: 0;
    }

    .ant-select-item-option-content {
        // Lets the text for the package description
        // in the AutoComplete menu take up multiple lines.
        white-space: normal;
    }
}

.auto-complete__item {
    margin-bottom: 0.8em;
    line-height: 2em;

    p {
        margin-right: 0.7em;
        display: inline;
    }
}
