.dependency-graph {
    height: 100%;

    .recenter-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1em;
        border: none;
        background-color: transparent;
        z-index: 2;

        &:hover,
        &:focus {
            color: rgba(0, 0, 0, 0.65);
        }
    }
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .message {
        width: 50%;
        margin: 0 auto;

        // stylelint-disable-next-line
        @media screen and (max-width: 650px) {
            width: 90%;
        }
    }

    img {
        user-select: none;
    }
}

.network-wrapper {
    display: flex;
    height: 100vh;

    .network {
        position: fixed;
        height: 100vh;
        width: 100vw;
    }

    .progress-wrapper {
        justify-self: center;
        align-self: center;
        width: 100%;
        text-align: center;
        margin: 0 4em;

        .progress {
            font-size: 3em;
            color: #595959;
        }
    }

    .progress-title {
        margin-top: 1em;
        font-size: 1.2em;
    }

    // Prevents the outline that can sometimes occur
    // when the canvas gains focus
    *:focus {
        outline: none;
    }
}
