.dependency-graph {
    height: 100%;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    // Keeps the content in the container from being
    // squished together when the menu is opened
    // min-width: 100vw;

    .message {
        width: 50%;
        margin: 0 auto;
    }

    img {
        user-select: none;
    }
}

.network-wrapper {
    display: flex;
    height: 100%;

    .network {
        position: fixed;
        height: 100vh;
        width: 100vw;
    }

    .progress-wrapper {
        justify-self: center;
        align-self: center;
        width: 100%;
        text-align: center;
        margin: 0 4em;

        .progress {
            font-size: 3em;
            color: #595959;
        }
    }

    .progress-title {
        margin-top: 1em;
        font-size: 1.2em;
    }

    // Prevents the outline that can sometimes occur
    // when the canvas gains focus
    *:focus {
        outline: none;
    }
}
