.error-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

    .message {
        width: 50%;
        margin: 0 auto;

        // stylelint-disable-next-line
        @media screen and (max-width: 650px) {
            width: 90%;
        }
    }

    img {
        user-select: none;
    }
}
